/* index.html */

.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.flex-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#header_index {
    font-family: 'Playfair Display', serif;
}

#header_index h1 {
    font-size: 84px;
    margin-bottom: -5%;
}

#header_index h2 {
    font-size: 32px;
}

#nav_index {
    font-family: 'Nunito', sans-serif;
}

#nav_index ul {
    list-style-type: none;
    padding: 0;
    font-size: 28px;
    margin-top: -2%;
    font-family: ;
}

#nav_index a {
    text-decoration: none;
    color: #000;
}

/* about.html */

/* skills.html */

/* resume.html */

/* contact.html */