/* Site wide stylization */

.flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
  
.flex-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* ----- Header and nav stylization for about, skills, resume, & contact pages ----- */

header {
    font-size: 32px;
    font-family: 'Playfair Display', serif;
}

nav {
    font-size: 26px;
    font-family: 'Nunito', sans-serif;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin-top: -6%;
}

nav li {
    display: inline;
    margin: 8px;
}

nav a {
    text-decoration: none;
    color: #000;
}

/* ----- index.html ----- */

#header_index {
    font-family: 'Playfair Display', serif;
}

#header_index h1 {
    font-size: 64px;
    margin-bottom: -5%;
}

#header_index h2 {
    font-size: 32px;
}

#nav_index {
    font-size: 26px;
    font-family: 'Nunito', sans-serif;
}

#nav_index ul {
    list-style-type: none;
    padding: 0;
    margin-top: -2%;
}

#nav_index a {
    text-decoration: none;
    color: #000;
}

/* ----- about.html ----- */

#p_about {
    font-size: 18px;
    font-family: 'Nunito', sans-serif;
    margin-left: 25%;
    margin-right: 25%;
    text-align: justify;
}

/* ----- skills.html ----- */

.page-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.page-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}

.outer-container1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.outer-container2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* ----- resume.html ----- */

/* ----- contact.html ----- */